<div class="row" id="home">
    <div class="col-10 mx-auto">
        <h2>TRANSPARENTES COMO EL AGUA</h2><hr>
        <h4>HASTA LA VICTORIA SIEMPRE XD</h4><hr>
    </div>
</div>

<style>
    #home{ 
        text-align: center;
        margin-top: 150px;
    }
</style>