<main>
    <img src="https://static.vecteezy.com/system/resources/previews/005/482/434/non_2x/illustration-graphic-cartoon-character-of-democracy-vector.jpg" alt="" class="card-img" id="image">
    <section class="row py-2">
        <a href="/inicio" class="col-3 card p-4" id="option">
            <h5>CNE</h5>
        </a>
        <a href="/candidatos" class="col-3 card p-4" id="option">
            <h5>Candidatos</h5>
        </a>

        <a href="/sufragar" class="col-3 card p-4" id="option">
            <h5>Sufragar</h5>
        </a>

        <a href="/transparencia" class="col-3 card p-4" id="option">
            <h5>Transparencia</h5>
        </a>
    </section>
</main>

<style>
    #image{ 
        height: 550px;
    }
    #option{
        color: #fff;
        text-align: center;
        text-decoration: none;
        background: #153E5C;
        border: 4px solid #f5f5f5;
        cursor: pointer;
    }
    #option:hover{
        background: #f5f5f5;
        color: #153E5C;
        border: 2px solid #000;
    }
</style>